@page "{my_id}"
@model InstagramCloneWebApp.Pages.HomePageModel
@{
    ViewData["Title"] = "REACH ME - Home";
}

<link rel="stylesheet" href="~/css/profilePageCSS.css" />
<link rel="stylesheet" href="~/css/navigationBarCSS.css" />
<header>
    <div id="mainNavContainer">
        <span>ReachMe</span>
        <form method="post">
            <input type="submit" value="Home" class="linktopage" asp-page-handler="ToHome" />
        </form>
        <form method="post">
            <input type="submit" value="Profile" class="linktopage" asp-page-handler="ToProfile" />
        </form>
        <form method="post">
            <input type="submit" value="Discover" class="linktopage" asp-page-handler="ToDiscover" />
        </form>
        <form method="post">
            <input type="submit" value="Account" class="linktopage" asp-page-handler="ToAccount" />
        </form>
        <form method="post">
            <input id="searchbar" type="text" placeholder="Search" name="searchbar" />
            <input id="searchbutton" type="submit" value="SEARCH" asp-page-handler="Search" />
        </form>
        <form method="post">
            <input id="postbutton" type="submit" value="POST" asp-page-handler="Picture" />
        </form>
        <form method="post">
            <input id="logoutbutton" type="submit" value="LOG OUT" asp-page-handler="LogOut" />
        </form>
    </div>
    @if (Model.foundUsers.Count > 0)
    {
        @for (int i = 0; i < Model.foundUsers.Count; i++)
        {
            if (i == 0)
            {
                <div id="searchingresult">
                    <strong>Searching results:</strong>
                </div>
            }
            <div id="searchingresult">
                <a href="@Model.links[i]">@Model.foundUsers[i].username</a>
            </div>
        }
    }
</header>
@if (Model.postsToShow.Count > 0)
{
    @foreach (ProfilePost p in Model.postsToShow)
    {
        <div id="postsContainer">
            <div id="postBackground">
                <div id="postInfo">
                    <img src="data:image/jpg;base64,@p.profilepic" id="profilepic_onpost" />
                    <div class="info">
                        <a href="@p.link" id="link"><strong class="infoelement">@p.username</strong></a>
                        <strong class="infoelement">@p.caption</strong><br />
                    </div>
                </div>
                <div id="postPic">
                    <img src="data:image/jpg;base64,@p.postdata" id="postpicture" />
                </div>
                <div id="like_section">
                    <span class="like_element">Likes : @p.likes</span>
                </div>
            </div>
        </div>
    }
}
                <div>
                    <strong>@Model.info</strong>
                </div>