@page "{my_id}/{profile_id}"
@model InstagramCloneWebApp.Pages.ProfilePageModel
@{
    ViewData["Title"] = "REACH ME - Profile";
}

<link rel="stylesheet" href="~/css/profilePageCSS.css" />
<link rel="stylesheet" href="~/css/navigationBarCSS.css" />
<header>
    <div id="mainNavContainer">
        <span>ReachMe</span>
        <form method="post">
            <input type="submit" value="Home" class="linktopage" asp-page-handler="ToHome" />
        </form>
        <form method="post">
            <input type="submit" value="Profile" class="linktopage" asp-page-handler="ToProfile" />
        </form>
        <form method="post">
            <input type="submit" value="Discover" class="linktopage" asp-page-handler="ToDiscover" />
        </form>
        <form method="post">
            <input type="submit" value="Account" class="linktopage" asp-page-handler="ToAccount" />
        </form>
        <form method="post">
            <input id="searchbar" type="text" placeholder="Search" name="searchbar" />
            <input id="searchbutton" type="submit" value="SEARCH" asp-page-handler="Search" />
        </form>
        <form method="post">
            <input id="postbutton" type="submit" value="POST" asp-page-handler="Picture" />
        </form>
        <form method="post">
            <input id="logoutbutton" type="submit" value="LOG OUT" asp-page-handler="LogOut" />
        </form>
    </div>
    @if (Model.foundUsers.Count > 0)
    {
        @for (int i = 0; i < Model.foundUsers.Count; i++)
        {
            if (i == 0)
            {
                <div id="searchingresult">
                    <strong>Searching results:</strong>
                </div>
            }
            <div id="searchingresult">
                <a href="@Model.links[i]">@Model.foundUsers[i].username</a>
            </div>
        }
    }
</header>
<div id="mainContainer">
    <div id="profileContainer">
        <h1>Profile</h1>
        <img id="profilepic" src="data:image/jpg;base64,@Model.currentProfile.imagedata" />
        <span id="profileusername">@Model.currentProfile.username</span>
        <span id="profiledesc">@Model.currentProfile.description</span>
        <div id="postsfollowers">
            <div id="postsfollowerstext">
                <span class="textinfo">Posts</span>
                <span class="textinfo">@Model.currentProfile.posts</span>
            </div>
            <div id="postsfollowerstext">
                <span class="textinfo">Followers</span>
                <span class="textinfo">@Model.currentProfile.followers</span>
            </div>
            <div id="postsfollowerstext">
                <span class="textinfo">Following</span>
                <span class="textinfo">@Model.currentProfile.following</span>
            </div>
        </div>
        @if (Model.CheckIfProfileIsMine() == false)
        {
            @if (Model.CheckIfFollowingUser() == false)
            {
                <form method="post">
                    <input type="submit" value="Follow" id="followbutton" asp-page-handler="Follow" />
                </form>
            }
            else
            {
                <form method="post">
                    <input type="submit" value="Unfollow" id="followbutton" asp-page-handler="Unfollow" />
                </form>
            }
        }
    </div>
</div>